@use 'variables' as *;

// CSS Reset
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    margin: 0;
    padding: 0;
    width: 100%;
    height: 100%;
}

header {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-top: 100px;

    h1 {
        font: 100% $header-font;
        color: $secondary-color;
        font-size: 48px;
        margin-bottom: 20px;

        span {
            font-weight: bold;
        }
    }

    h3 {
        font: 100% $font;
        color: $secondary-color;
        font-size: 24px;
        margin-bottom: 20px;
        margin-bottom: 100px;
    }

    img {
        height: auto;
        width: 300px;
    }

    button {
        margin-top: 200px;
    }
}

